body{
    background-color: blueviolet; 
    
}
.box {
    
    background-color: aquamarine;
}
  /* BOX SIZING: BORDER BOX   -> PADDING + BORDER
     MARGIN COLLAPSE ->   1 box 20, 2nd box 30  -> final gives 30
  */
.box1 {
    color: rgb(13, 227, 56);
    padding: 10px;
    margin: 100px;
    border :5px solid blue;
    height :200px;
    box-sizing: border-box;
}    

.box2 {
    color: rgb(93, 5, 12);
    padding: 10px;
    margin: 50px;
    border :5px solid black;
    width: 650px;
    height :200px;
    box-sizing: border-box;
}