.box{
    border:1px solid blue;
}

*{
    margin: 0;
    padding:0;
}

span{
    border: 1px solid aqua;
}

div{
     border: 1px solid aqua;
     display:inline-block;
     margin:20px;
     padding:20px;
}

.web{
    border: 1px solid aqua;
     display:inline-block;
     visibility: hidden;
     margin:20px;
     padding:20px;
}  
