div {
    padding: 2px;
    border: 2px solid blue;
    margin: 0px;

    height: 600px;
    width: 100px;

    
    /* overflow-y: scroll;
    overflow-x: hidden; */
    overflow: auto;
    text-overflow: ellipsis;

}