.box {

  border: 2px solid blue;
  margin: 2px;
  padding: 4px;

  color: rgb(10, 203, 229);

  height: 563px;
  width: 90px;
}

/* 
static : doesnt move
absolute : can be added top and left
relative : sets according to the parent 
sticky : stciks even if we scroll down
fixed : it is fixed at one part of page

exceptions - fitler,transform
*/


.box1 {

  height: 5px;
  width: 200px;

  position: sticky;
  top: 30px;
  bottom: 560px;
  right: 342px;
  left: 452px;

  z-index: 1;
  background-color: blueviolet;
}
   
.box2 {
  position: relative;
  top: 60px;
  bottom: 56px;
  right: 2px;
  left: 290px;
  background-color: #dc1b7b;
}

.box3 {
  position: relative;
  top: 34px;
  bottom: 45px;
  right: 2px;
  left: 2px;
  background-color: rgb(32, 7, 143);
}

.box4 {
  position: relative;
  top: 33px;
  bottom: 2px;
  right: 2px;
  left: 2px;
  background-color: rgb(40, 236, 18);
}

*/ * {

  background-color: black;
}