body {
    background-color: aquamarine;
}

@media only screen and (max-width:455px) {
    body {
        background-color: rgb(83, 5, 218);
    }
}

div{
    display: inline-block;

    padding:10px;
    border:2px solid black;
    margin:5px;

    height:111px;
    width:111px;

    background-color: bisque;
}

p{  
    display: inline-block;

    padding:10px;
    border:2px solid black;
    margin:5px;

    height:111px;
    width:111px;

    background-color: rgb(210, 9, 86);
}

h1{
    display: inline-block;

    padding:10px;
    border:2px solid black;
    margin:5px;

    height:111px;
    width:150px;

    background-color: rgb(20, 5, 66);
}