.boxx:first-child{
    background-color: brown;             
}  

.box *{
    border: 3px solid yellow;
}

/*dynamically insert*/

.boxx::before{
  content:"harry is good";
  display:block;
}

::selection{
    background-color: rgb(5, 10, 8);
    color: rgb(116, 15, 15); 
}

