* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

nav {
    background-color: rgb(191, 30, 56);
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

ul li {

    color: white;

    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;

    padding: 35px;


    display: inline-flex;


}

.art1 {

    position: relative;
    top: 90px;


    display: flex;

    background-color: rgb(9, 208, 231);

    padding: 30px;
    border: 3px solid rgb(27, 9, 227);
    margin: 30px;



    height: 500px;
}

.suvvi1 {

    height: 500px;
    width: 600px;

    margin-left: 20px;
    margin-right: 140px;


    position: relative;
    top: 1px;
    left: 0px;
}

.suvvi2 {

    height: 500px;
    width: 600px;


    position: relative;
    top: 1px;
    left: 0px;
}

.art2 {
    align-items: center;
    justify-items: center;
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;

    position: fixed;
    right: 20px;
    bottom: 20px;

    background-color: rgb(110, 16, 4);

    border: 2px solid rgb(74, 7, 167);
    padding: 20px;
    margin: 20px;

    height: 100px;
    width: 100px;

    border-radius: 50%;

    z-index: 1;
}

section {
    padding: 10px;
    border: 2px solid rgb(183, 10, 116);
    margin: 30px;

    border-radius: 50px;

    position: relative;
    top: 69px;
    left: 150px;

    height: 200px;
    width: 1000px;

    text-align: center;

    background-color: rgb(5, 221, 23);
}

footer {
    padding: 10px;
    border: 10px solid rgb(16, 14, 115);

    height: 100px;

    position: relative;
    top: 110px;

    text-align: center;

    background-color: rgb(245, 238, 20);



}