.container{
   background-color:rgb(175, 192, 175);

   border: 3px solid brown;
   margin: 10px;
   height: 1200px;



   display: flex; 
   justify-content: center;
   align-items:center;
   align-content: center;
   place-content: center;
   

   flex-wrap: wrap;

    /* gap: 20px;
   row-gap:130px;
   column-gap: 50px; */

   gap:130px 50px;

   flex-direction:column; 
}

.item{
    /* flex-grow: 1; */

    flex-shrink: 2;

    height: 12px;
    width:22px;
    background-color: aqua;

    border: 2px solid blue;
    /* margin: 10px;
    padding: 10px; */
}

.order-1{
    align-self: flex-start;
} 

.order-2{
    align-self: flex-end;
} 

