/* .container{
    display:grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 100px 100px 100px 100px;

    border: 3px solid red;
}


.item{
    border: 1px solid rgb(17, 196, 223);
    padding: 0px;

    width:60px; 
    height:50px;
} 

.item4{
    grid-row:1/2 ;
    grid-column:1/2;
}  */

.container{
    display: grid;

    grid-template-columns: 800px 800px;
    grid-template-rows: 100px 100px 100px;

    grid-template-areas: "nav""article main""footer";

    border: 2px solid blue;
}

.item{
    border: 1px solid rgb(17, 196, 223);
    padding: 0px;

    width:800px; 
    height:100px;
} 























